

<div class="container card-container"></div>
<input id="selectedPilon" type="hidden">

<div >
    <p  ></p>

    <p  
        title="This card color means that pilón has a temperature that's superior to maximum accepted temperature.">
       
    </p>

    <p   
        title="This card color means that pilón has a temperature that's inferior to minimun accepted temperature.">
      
    </p>
    <p  
        title="This card color means that pilón it's between the minimum and maximum accepted temperature.">

    </p>
    <p  
        title="This card color means that pilón temperature has not changed for some time.">
    </p>
    <p  
        title="This card color means that you selected a pilón to save data or make a turning or wetting for the selected one.">
    
    </p>
</div>



<script src="/resources/js/language/_language_change.js"></script>
   <script src="/resources/js/language/_language_home.js" ></script>  