
<style>

    input{
        text-align: center;
    }
</style>


<!-- CREATE MODAL -->
<div class="modal fade" id="createCorteModal" tabindex="-1" aria-labelledby="createWorkerModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 45%;">
        <div class="modal-content">
            <div class="modal-header" style="background: #875a7b; border-radius: 5px;">
                <h5 class="modal-title" style="color: #ffffff;" id="createCorteModal"><i
                        class="bi bi-box-arrow-down"></i> <p id="titleworker"  style="display: inline;"> Agregar nuevo corte</p></h5>
            </div>
            <div class="modal-body">
                <form id="createCorteForm">
                    <div class="row mb-3">


                        <label id="modalworkername" for="nombre" class="col-sm-3 col-form-label form-label0">Código del corte:</label>
                        <div class="col-sm-9">
                            <input type="text" id="codigo_corte" name="nombre_variedad" class="form-control"
                                placeholder="Ejemplo: Corte" required><br>
                        </div>

                        <label id="modalworkername" for="nombre" class="col-sm-3 col-form-label form-label0">Corte de tabaco:</label>
                        <div class="col-sm-9">
                            <input type="text" id="nombre_corte" name="nombre_variedad" class="form-control"
                                placeholder="Ejemplo: Corte 1" required><br>
                        </div>

                        
                         
                    <label id="modalworkername" for="nombre" class="col-sm-3 col-form-label form-label0">Descripción del corte:</label>
                    <div class="col-sm-9">
                        <input type="text" id="descripcion_corte" name="nombre_variedad" class="form-control"
                            placeholder="Ejemplo: Describa el tipo de corte" required><br>
                    </div>
                    </div>
                    <hr>

                   

                    <button id="createCorteButton" class="btn btn-success" style="background: #00a09d"
                        type="submit">Guardar nuevo corte</button>
                </form>
            </div>
        </div>
    </div>
</div>









<div class="modal fade" id="successCorteModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header"   style="background: #875a7b; border-radius: 5px;" >
                <h5 class="modal-title" id="successModalLabel">Éxito</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>El corte se creó correctamente.</p>
            </div>
        </div>
    </div>
</div>








<!-- UPDATE MODAL -->
<div class="modal fade" id="editCorteModal" tabindex="-1" aria-labelledby="editCorteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 45%;">
        <div class="modal-content">
            <div class="modal-header" style="background: #875a7b; border-radius: 5px;">
                <h5 class="modal-title" style="color: #ffffff;" id="editWorkerModal"><i
                        class="bi bi-pencil-square just"></i> Actualizar corte</h5>
            </div>
            <div class="modal-body">
                <form id="editCorteForm">
                    <input type="hidden" id="corteId" name="corteId">

                    <div class="row mb-3">
                        <label for="editCodigo" class="col-sm-3 col-form-label form-label0">Código del corte:</label>
                        <div class="col-sm-9">
                            <input type="text" id="editCodigo" name="editCodigo" class="form-control" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="editCorte" class="col-sm-3 col-form-label form-label0">Corte del tabaco:</label>
                        <div class="col-sm-9">
                            <input type="text" id="editCorte" name="editCorte" class="form-control" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="editDescripcion" class="col-sm-3 col-form-label form-label0">Descripción del tabaco:</label>
                        <div class="col-sm-9">
                            <input type="text" id="editDescripcion" name="editDescripcion" class="form-control" required>
                        </div>
                    </div>
                    <hr>
                    <button id="updateCorteButton" class="btn btn-primary"
                    style="background: #00a09d" type="submit">Guardar cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>




<!-- SUCCESS MODAL UPDATE -->
<div class="modal fade" id="successCorteModalUpdate" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header"    style="background: #875a7b; border-radius: 5px;" >
                <h5 class="modal-title" id="successModalLabel">Éxito</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>El corte se actualizó exitosamente.</p>
            </div>
        </div>
    </div>
</div>




<!-- DELETE MODAL -->
<div class="modal fade" id="deleteCorteModal" tabindex="-1" aria-labelledby="deleteCorteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background: linear-gradient(to right, #890d0d, #890d0dc0, #c90000c0);"">
                <h5 class=" modal-title" style="color: #ffffff;" id="deleteWorkerModal"><i class="bi bi-trash3"></i>
                Eliminar</h5>
            </div>
            <div class="modal-body">
                <a><strong>¿Está seguro que quiere borrar el corte?</strong>
          
                <br><button id="deleteCorteButton" class="btn btn-primary"
                    style="background-color: #c90000c0;  border: 0px;" type="button"
                    onclick="deleteCorte()">Continuar</button>
            </div>
        </div>
    </div>
</div>
