<!-- CREATE MODAL -->

<style>

    input{
        text-align: center;
    }
</style>

<div class="modal fade" id="createVariedadModal" tabindex="-1" aria-labelledby="createWorkerModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 45%;">
        <div class="modal-content">
            <div class="modal-header" style="background: #875a7b; border-radius: 5px;">
                <h5 class="modal-title" style="color: #ffffff;" id="createVariedadModal"><i
                        class="bi bi-box-arrow-down"></i> <p id="titleworker"  style="display: inline;"> Agregar nueva variedad</p></h5>
            </div>
            <div class="modal-body">
                <form id="createVariedadForm">
                    <div class="row mb-3">


                        <label id="modalworkername" for="nombre" class="col-sm-3 col-form-label form-label0">Código de variedad:</label>
                        <div class="col-sm-9">
                            <input  type="text" id="codigo_variedad" name="nombre_variedad" class="form-control"
                                placeholder="Ejemplo: Código" required><br>
                        </div>

                        <label id="modalworkername" for="nombre" class="col-sm-3 col-form-label form-label0">Variedad de tabaco:</label>
                        <div class="col-sm-9">
                            <input type="text" id="nombre_variedad" name="nombre_variedad" class="form-control"
                                placeholder="Ejemplo: Camacho" required><br>
                        </div>

                        
                         
                    <label id="modalworkername" for="nombre" class="col-sm-3 col-form-label form-label0">Descripción de tabaco:</label>
                    <div class="col-sm-9">
                        <input type="text" id="descripcion_variedad" name="nombre_variedad" class="form-control"
                            placeholder="Ejemplo: Describa el tipo de tabaco" required><br>
                    </div>
                    </div>

                    <hr>
                   

                    <button id="createVariedadButton" class="btn btn-success" style="background: #00a09d"
                        type="submit">Guardar nueva variedad</button>
                </form>
            </div>
        </div>
    </div>
</div>




<!-- SUCCESS MODAL -->
<div class="modal fade" id="successVariedadModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header"    style="background: #875a7b; border-radius: 5px;" >
                <h5 class="modal-title" id="successModalLabel">Éxito</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>La variedad se creó correctamente.</p>
            </div>
        </div>
    </div>
</div>






<div class="modal fade" id="errorvariedadModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel"
aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header" style="background: rgba(201, 0, 0, 0.753); color: #ffffff;">
            <h5 class="modal-title" id="errorModalLabel">Error</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p id="errorModalMessage"></p>
        </div>
    </div>
</div>
</div>














<!-- UPDATE MODAL -->
<div class="modal fade" id="editVariedadModal" tabindex="-1" aria-labelledby="editVariedadModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 45%;">
        <div class="modal-content">
            <div class="modal-header" style="background: #875a7b; border-radius: 5px;">
                <h5 class="modal-title" style="color: #ffffff;" id="editWorkerModal"><i
                        class="bi bi-pencil-square just"></i> Actualizar variedad</h5>
            </div>
            <div class="modal-body">
                <form id="editVariedadForm">
                    <input type="hidden" id="variedadId" name="variedadId">

                    <div class="row mb-3">
                        <label for="editCodigo" class="col-sm-3 col-form-label form-label0">Código de variedad:</label>
                        <div class="col-sm-9">
                            <input type="text" id="editCodigo" name="editCodigo" class="form-control" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="editVariedad" class="col-sm-3 col-form-label form-label0">Variedad de tabaco:</label>
                        <div class="col-sm-9">
                            <input type="text" id="editVariedad" name="editVariedad" class="form-control" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="editDescripcion" class="col-sm-3 col-form-label form-label0">Descripción de tabaco:</label>
                        <div class="col-sm-9">
                            <input type="text" id="editDescripcion" name="editDescripcion" class="form-control" required>
                        </div>
                    </div>
                    <hr>
                    <button id="updateVariedadButton" class="btn btn-primary"
                    style="background: #00a09d" type="submit">Guardar cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>





<!-- SUCCESS MODAL UPDATE -->
<div class="modal fade" id="successVariedadModalUpdate" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header"    style="background: #875a7b; border-radius: 5px;" >
                <h5 class="modal-title" id="successModalLabel">Éxito</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>La variedad se actualizó exitosamente.</p>
            </div>
        </div>
    </div>
</div>





<!-- DELETE MODAL -->
<div class="modal fade" id="deleteVariedadModal" tabindex="-1" aria-labelledby="deleteWorkerModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background: linear-gradient(to right, #890d0d, #890d0dc0, #c90000c0);">
                <h5 class=" modal-title" style="color: #ffffff;" id="deleteWorkerModal"><i class="bi bi-trash3"></i>
                Eliminar</h5>
            </div>
            <div class="modal-body">
                <a><strong>¿Está seguro que quiere borrar la variedad?</strong>
          
                <br><button id="deleteVariedadButton" class="btn btn-primary"
                    style="background-color: #c90000c0;  border: 0px;" type="button"
                    onclick="deleteVariedad()">Continuar</button>
            </div>
        </div>
    </div>
</div>
