<div class="modal fade" id="informacionModal" tabindex="-1" aria-labelledby="createArduinoModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 70%;">
        <div class="modal-content">
            <div style="background: #875a7b; border-radius: 5px;" class="modal-header"
                style="background: linear-gradient(to right, #114344f0, #207c7ef0, #2a9ea0f0);">
                <h5 class="modal-title" style="color: #ffffff;" id="createArduinoModal"><i class="bi bi-box-arrow-down"></i>
                    <p id="titleinfopilon" style="display: inline;"> Información sobre el pilón</p></h5>
       <img src="../../../../resources/images/QR.png" style="margin-left:50%; margin-top:-1%; " width="6%" height="6%" >
            </div>
            <div class="modal-body">

                <div class="row">
               
                    <div class="col-md-6">
              
                        <div class="row mb-3">
                            <label id="turningpilonSelec" for="pilon_seleccionado" class="col-sm-3 col-form-label form-label0">Pilón seleccionado:</label>
                            <div class="col-sm-9">
                                <input type="text" id="pilon_seleccionado" name="pilon_seleccionado" style="text-align: center;"
                                    disabled class="form-control" required><br>
                            </div>
                        </div>

                  
                    
                        <div class="row mb-3">
                            <label id="turningpilonVar" for="pilon_variedad" class="col-sm-3 col-form-label form-label0">Variedad:</label>
                            <div class="col-sm-9">
                                <input type="text" id="pilon_variedad" name="pilon_variedad" style="text-align: center;"
                                    disabled class="form-control" required><br>
                            </div>
                        </div>

                        
                        <div class="row mb-3">
                            <label id="turningpilonFinc" for="pilon_finca" class="col-sm-3 col-form-label form-label0">Finca:</label>
                            <div class="col-sm-9">
                                <input type="text" id="pilon_finca" name="pilon_finca" style="text-align: center;"
                                    disabled class="form-control" required><br>
                            </div>
                        </div>

                        
                        <div class="row mb-3">
                            <label id="turningpilonEta" for="pilon_etapa" class="col-sm-3 col-form-label form-label0">Etapa:</label>
                            <div class="col-sm-9">
                                <input type="text" id="pilon_etapa" name="pilon_etapa" style="text-align: center;"
                                    disabled class="form-control" required><br>
                            </div>
                        </div>
                  

                 
                      
                        <div class="row mb-3">
                            <label id="turningpilonTempMin" for="pilon_min" class="col-sm-3 col-form-label form-label0">Temperatura mínima:</label>
                            <div class="col-sm-9">
                                <input type="text" id="pilon_min" name="pilon_min" style="text-align: center;"
                                    disabled class="form-control" required><br>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label id="turningpilonTempMax" for="pilon_max" class="col-sm-3 col-form-label form-label0">Temperatura máxima:</label>
                            <div class="col-sm-9">
                                <input type="text" id="pilon_max" name="pilon_max" style="text-align: center;"
                                    disabled class="form-control" required><br>
                            </div>
                        </div>


                    </div>
                    
                        <div class="col-md-6">
                  
                     
                        <div class="row mb-3">
                            <label id="turningpilonPn" for="pilon_peso" class="col-sm-3 col-form-label form-label0">Peso neto:</label>
                            <div class="col-sm-9">
                                <input type="text" id="pilon_peso" name="pilon_peso" style="text-align: center;"
                                    disabled class="form-control" required><br>
                            </div>
                        </div>


                 
                        <div class="row mb-3">
                            <label id="turningpilonFech" for="pilon_fecha" class="col-sm-3 col-form-label form-label0">Fecha de ingreso:</label>
                            <div class="col-sm-9">
                                <input type="text" id="pilon_fecha" name="pilon_fecha" style="text-align: center;"
                                    disabled class="form-control" required><br>
                            </div>
                        </div>

                                     <div class="row mb-3">
                            <label id="turningpilonCor" for="pilon_corte" class="col-sm-3 col-form-label form-label0">Corte:</label>
                            <div class="col-sm-9">
                                <input type="text" id="pilon_corte" name="pilon_corte" style="text-align: center;"
                                    disabled class="form-control" required><br>
                            </div>
                        </div>

                        
                        <div class="row mb-3">
                            <label id="turningpilonCos" for="pilon_cosecha" class="col-sm-3 col-form-label form-label0">Cosecha:</label>
                            <div class="col-sm-9">
                                <input type="text" id="pilon_cosecha" name="pilon_cosecha" style="text-align: center;"
                                    disabled class="form-control" required><br>
                            </div>
                        </div>

                        
                        <div class="row mb-3">
                            <label id="turningpilonClass" for="pilon_clase" class="col-sm-3 col-form-label form-label0">Clase:</label>
                            <div class="col-sm-9">
                                <input type="text" id="pilon_clase" name="pilon_clase" style="text-align: center;"
                                    disabled class="form-control" required><br>
                            </div>
                        </div>

                        
                        <div class="row mb-3">
                            <label id="turningpilonTip" for="pilon_tipo" class="col-sm-3 col-form-label form-label0">Tipo de tabaco:</label>
                            <div class="col-sm-9">
                                <input type="text" id="pilon_tipo" name="pilon_tipo" style="text-align: center;"
                                    disabled class="form-control" required><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
