<div class="modal fade" id="Home" tabindex="-1" aria-labelledby="Home" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 45%;">
        <div class="modal-content">
            <div class="modal-header" style="background: #875a7b; border-radius: 5px;" >
                <h5 class="modal-title" style="color: #ffffff;" id="Home"><i
                        class="bi bi-pencil-square just"></i> Home view</h5>
            </div>
            <div class="modal-body">
                `psdmpskmdspoñkdmspñlkdmspkdms
            </div>
        </div>
    </div>
</div>