<style>

    input{
        text-align: center;
    }
</style>



<!-- CREATE MODAL -->
<div class="modal fade" id="createClaseModal" tabindex="-1" aria-labelledby="createWorkerModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 45%;">
        <div class="modal-content">
            <div class="modal-header" style="background: #875a7b; border-radius: 5px;">
                <h5 class="modal-title" style="color: #ffffff;" id="createClaseModal"><i
                        class="bi bi-box-arrow-down"></i> <p id="titleworker"  style="display: inline;"> Agregar nueva clase</p></h5>
            </div>
            <div class="modal-body">
                <form id="createClaseForm">
                    <div class="row mb-3">


                        <label id="modalworkername" for="nombre" class="col-sm-3 col-form-label form-label0">Código de clase:</label>
                        <div class="col-sm-9">
                            <input type="text" id="codigo_clase" name="nombre_clase" class="form-control"
                                placeholder="Ejemplo: Clase" required><br>
                        </div>

                        <label id="modalworkername" for="nombre" class="col-sm-3 col-form-label form-label0">Clase de tabaco:</label>
                        <div class="col-sm-9">
                            <input type="text" id="nombre_clase" name="nombre_clase" class="form-control"
                                placeholder="Ejemplo: Camacho" required><br>
                        </div>

                        
                         
                    <label id="modalworkername" for="nombre" class="col-sm-3 col-form-label form-label0">Descripción de clase:</label>
                    <div class="col-sm-9">
                        <input type="text" id="descripcion_clase" name="nombre_clase" class="form-control"
                            placeholder="Ejemplo: Describa el tipo de clase" required><br>
                    </div>
                    </div>


                    <hr>

                    <button id="createVariedadButton" class="btn btn-success" style="background: #00a09d"
                        type="submit">Guardar nueva clase</button>
                </form>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="successClaseModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header"   style="background: #875a7b; border-radius: 5px;" >
                <h5 class="modal-title" id="successModalLabel">Éxito</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>La clase se creó correctamente.</p>
            </div>
        </div>
    </div>
</div>









<!-- UPDATE MODAL -->
<div class="modal fade" id="editClaseModal" tabindex="-1" aria-labelledby="editClaseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 45%;">
        <div class="modal-content">
            <div class="modal-header" style="background: #875a7b; border-radius: 5px;">
                <h5 class="modal-title" style="color: #ffffff;" id="editWorkerModal"><i
                        class="bi bi-pencil-square just"></i> Actualizar clase</h5>
            </div>
            <div class="modal-body">
                <form id="editClaseForm">
                    <input type="hidden" id="corteId" name="corteId">

                    <div class="row mb-3">
                        <label for="editCodigo" class="col-sm-3 col-form-label form-label0">Código de clase:</label>
                        <div class="col-sm-9">
                            <input type="text" id="editCodigo" name="editCodigo" class="form-control" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="editClase" class="col-sm-3 col-form-label form-label0">Clase de tabaco:</label>
                        <div class="col-sm-9">
                            <input type="text" id="editClase" name="editClase" class="form-control" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="editDescripcion" class="col-sm-3 col-form-label form-label0">Descripción de la clase:</label>
                        <div class="col-sm-9">
                            <input type="text" id="editDescripcion" name="editDescripcion" class="form-control" required>
                        </div>
                    </div>
                    <hr>
                    <button id="updateClaseButton" class="btn btn-primary"
                    style="background: #00a09d" type="submit">Guardar cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>





<!-- SUCCESS MODAL UPDATE -->
<div class="modal fade" id="successClaseModalUpdate" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header"    style="background: #875a7b; border-radius: 5px;" >
                <h5 class="modal-title" id="successModalLabel">Éxito</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>La clase se actualizó exitosamente.</p>
            </div>
        </div>
    </div>
</div>


<!-- DELETE MODAL -->
<div class="modal fade" id="deleteClaseModal" tabindex="-1" aria-labelledby="deleteClaseModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background: linear-gradient(to right, #890d0d, #890d0dc0, #c90000c0);"">
                <h5 class=" modal-title" style="color: #ffffff;" id="deleteClaseModal"><i class="bi bi-trash3"></i>
                Eliminar</h5>
            </div>
            <div class="modal-body">
                <a><strong>¿Está seguro que quiere borrar la clase?</strong>
          
                <br><button id="deleteClaseButton" class="btn btn-primary"
                    style="background-color: #c90000c0;  border: 0px;" type="button"
                    onclick="deleteClase()">Continuar</button>
            </div>
        </div>
    </div>
</div>

