<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio de sesi칩n</title>
  <link rel="stylesheet" href="resources/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="/resources/images/icon.png">
  
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <style>
    .color-btn {
      background-color: #00a09d;
    }

    .color-head {
      background-color: #875a7b;
    }

    /* Estilos para el formulario */
    .login-form {
      border: 1px solid #ccc; /* Borde de 1px de color gris */
      border-radius: 10px; /* Bordes redondeados */
      padding: 20px; /* Espacio de relleno interno */
      margin-top: 60px; 
      justify-content: center;
    }

    body {
      font-family: sans-serif;
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
                  url('https://i0.wp.com/halfwheel.com/wp-content/uploads/2017/05/CamachoFactory_Honduras_2017_004.jpg?ssl=1') no-repeat center center fixed;
      background-size: cover;
      background-repeat: no-repeat;
      text-transform: uppercase;
      border-color: black;
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      overflow-x: hidden;
      height: 699px; /* Ajusta la altura para llenar toda la ventana */
    }
  </style>

</head>

<body class="body">
  <div class="d-flex justify-content-center mt-5 rounded-3 text-white">
    <div class="d-flex flex-column w-25 text-center bd-highlight mb-3">
        <div class="form-control login-form">
        <div class="p-2 color-head text-white rounded-3 bd-highlight">
          <h5 style="font-weight: bold;">Inicio de Sesi칩n</h5>
        </div>
        <br>
   

        <form id="userAutentication" action="/login" method="POST">
          <label for="user" style="font-weight: bold; font-size: 13px;" class="mb-3">Nombre de usuario:</label>
          <input type="text" id="user" name="user" placeholder="Usuario" class="form-control text-center mb-2"
          style="font-weight: bold;font-size: 13px;" autofocus required maxlength="20">
          <br>
          <label for="password" style="font-weight: bold; font-size: 13px;" class="mb-3">Contrase침a:</label>
          <input type="password" id="password" name="password" class="form-control text-center mb-2" placeholder="Contrase침a"
            style="font-weight: bold;font-size: 13px;" required maxlength="25">
          <br>
          <input type="submit" class="btn color-btn text-white form-control" style="font-weight: bold; font-size: 14px;"
            value="Ingresar">

        </form>
      </div>
    </div>
  </div>



<div class="modal fade" id="accesoModal" tabindex="-1" aria-labelledby="accesoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header" style="background: linear-gradient(to right, #890d0d, #890d0dc0, #c90000c0);">
              <h5 class="modal-title" style="color: #ffffff;"><i class="bi bi-trash3"></i> Acceso denegado.</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <strong>Credenciales incorrectas, vuelva a intentarlo.</strong>
          </div>
      </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="accesoModal" tabindex="-1" aria-labelledby="accesoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header" style="background: linear-gradient(to right, #890d0d, #890d0dc0, #c90000c0);">
              <h5 class="modal-title" style="color: #ffffff;"><i class="bi bi-trash3"></i> Acceso denegado.</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <strong>Credenciales incorrectas, vuelva a intentarlo.</strong>
          </div>
      </div>
  </div>
</div>
<script>
          jQuery(document).ready(function($) {
            const urlParams = new URLSearchParams(window.location.search);
            const error = urlParams.get('error');
        
            if (error === 'accesso_denegado') {
              $('#accesoModal').modal('show'); 
            }
        
       
            $('#accesoModal').on('hidden.bs.modal', function (e) {
              window.location.href = '/'; 
            });
          });

</script>




</body>
</html>