

<!-- <div class="container" >
    <div class="pilon_info" >
        <p id="individualname">Pilón's name: </p>
        <p id="individualproperty">Pilón's propierty: </p>
        <p id="individualstage">Pilón's tobacco stage: </p>
        <p id="individualweight">Pilón's net weight: </p>
        <p id="individualminimum">Pilón's minimum allowed temperature: </p>
        <p id="individualmaximum">Pilón's maximum allowed temperature: </p>
        <p id="individualdate">Pilón's entry date: </p>
    </div>
</div> -->



<script src="/resources/js/language/_language_change.js"></script>
<script src="/resources/js/language/_language_individual.js"></script>